.container {
  width: 50%;
  margin: auto;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

#password {
  height: 40px;
  font-size: 40px;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-right: 0;
}

button {
  margin-top: 20px;
  font-size: 30px;
}

button:hover {
  cursor: pointer;
}

p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type=number] {
  width: 40px;
  
}

input[type=text] {
  border: solid black 2px;
  border-radius: .2rem;
}


 
.features {
  border: solid black 2px;
  border-radius: 1rem;
  font-size: 20px;
  padding: 20px 20px;
  width: 60%;
  margin: auto;
  list-style-type: none;
  text-align: left;
}

td {
  padding: 5px 5px;
  width: 100%;
}

th {
  text-align: center;
  padding: 10px;
}
@media(max-width: 990px) {
  .container {
    width: 100%;
  }
  .features {
    width: 80%;
  }
}