body {
  background-image: url('./imgs/pexels-damir-mijailovic-3695238.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.container {
  width: 300px;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: 	azure;
  opacity: .95;
  box-shadow: 5px 5px 5px;
  border-radius: .5em;
}

/*styles finger print icon*/
.icon_img {
  width: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .5;
}
.icon {
  position: absolute;
  left: 100px;
  top: -50px;
  z-index: 0;
  background-color: azure;
  width: 100px;
  height: 100px;
  border-radius: 5em;
}

/*styles title*/
h2 {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 10px;
  z-index: 8;
}


/*styles generated password box*/
#password {
  height: 30px;
  font-size: 20px;
  text-align: center;
  width: 200px;
  background-color: transparent;
}
#copy {
  height: 20px;
  width: 20px;
  background-image: url('./imgs/copy-icon-png-17.jpg');
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;
  margin-top: 7px;
}
#copy:hover {
  transform: scale(1.1);
}
#copy:active {
  transform: scale(.9);
}
.generated-password {
  background-color: white;
  border: solid #595891 2px;
  border-radius: .2em;
  width: 250px;
  margin: auto;
  height: 35px;
}

/*general button styles*/
button {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
button:hover {
  cursor: pointer;
}

/*styles pasword options*/
.input {
  text-align: right;
}
input[type=number] {
  width: 40px;
  text-align: right;
  border:	#595891 solid 2px;
  border-radius: .2em;
}
input[type=text] {
  border: none;
  outline: none; 
}
.features {
  font-size: 20px;
  padding: 20px 20px;
  margin: auto;
  list-style-type: none;
  text-align: left;
}
td {
  padding: 5px 5px;
  width: 100%;
  font-size: 16px;
}
th {
  text-align: center;
  padding: 10px;
}

/*styles generate button*/
.gen_img {
  height: 15px;
  padding-top: 5px;
}
#submit {
  width: 250px;
  text-transform: uppercase;
  margin-bottom: 20px;
  background-color: 	#747494;
  border: solid #595891 2px;
  border-radius: .2em;
  color: rgba(255, 255, 255, 0.856);
  outline: none;
}
#submit:hover {
  transform: scale(1.1);
}
#submit:active {
  transform: scale(0.9);
}